<div class="panel task-panel" data-controller="create-task">

  <%= render "task_list", tasks: @tasks %>

  <div class="task-card" >
    <%= simple_form_for [current_user, @task], html: {class: "d-none", data: {create_task_target: "form", action: "submit->create-task#create"}} do |f| %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.submit class:"btn small-btn-blue create-btn" %>
    <% end %>

    <div class="footer-task" >
      <div class="btn-plus" data-action="click->create-task#displayForm">+</div>
    </div>
  </div>
</div>
