<div class="d-flex flex-row justify-content-left align-items-start p-2 ui-overlay" data-controller="navbar">
  <%= render "navbar" %>
  <div data-navbar-target="tasks" class="d-none">
    <%= render "tasks_panel" %>
  </div>
  <div data-navbar-target="timers" class="d-none">
    <%= render "timer_panel", timer: @timer %>
  </div>
  <div data-navbar-target="music" class="d-none">
    <%= render "music_panel" %>
  </div>
  <div data-navbar-target="data" class="d-none">
    <%= render "data_panel" %>
  </div>
</div>

<div 
    data-controller="game" 
    data-game-tiles-value=<%= asset_path("tiles.png") %>
    data-game-tiles-config-value=<%= asset_path("tiles.atlas") %>
    data-game-items-value=<%= asset_path("items.png") %>
    data-game-items-config-value=<%= asset_path("items.atlas") %>
    data-game-characters-value=<%= asset_path("characters.png") %>
    data-game-characters-config-value=<%= asset_path("characters.atlas") %>>

</div>