<div class="homepage-container" style="background-color: #FFEEDD;">

  <div class="banner">
    <div class="banner-navbar">
      <div class="navbar">
        <div class="logo">Virtual Work Buddy</div>
        <div class="homepage-buttons">
        <% if current_user %>
          <%= link_to "Your Buddy", new_avatar_path(current_user), class: "btn btn-pink" if current_user.avatar == nil  %>
          <%= link_to "Your Buddy", user_path(current_user), class: "btn btn-pink" if current_user.avatar %>
          <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-blue" %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-pink" %>
          <%= link_to "Login", new_user_session_path, class: "btn btn-blue" %>
        <% end %>
        </div>
      </div>
    </div>
    <div class="banner-container">
      <div class="slogan">Make homeoffice a happier place
      </div>
      <% if current_user %>
        <%= link_to "Meet your virtual work buddy", new_avatar_path(current_user), class: "btn btn-banner" if current_user.avatar == nil %>
        <%= link_to "Meet your virtual work buddy", user_path(current_user), class: "btn btn-banner" if current_user.avatar %>
      <% else %>
        <%= link_to "Meet your virtual work buddy", new_user_registration_path, class: "btn btn-banner" %>
      <% end %>
    </div>
  </div>

  <div class="cards-container" >

    <div class="cards">
      <div class="card-category" style="background-color: #858AE3;">
        <h4>Your virtual buddy works with you</h4>
      </div>

      <div class="card-category" style="background-color: #FF8FAB;">
        <h4>Create your to do lists</h4>
      </div>

      <div class="card-category" style="background-color: #FFA62B;">
        <h4>Set a timer to keep track of your work time</h4>
      </div>

      <div class="card-category" style="background-color: #FFA62B;">
        <h4>Import your Spotify playlists</h4>
      </div>

      <div class="card-category" style="background-color: #75C9C8;">
        <h4>Create a perfect work environment</h4>
      </div>

      <div class="card-category" style="background-color: #858AE3;">
        <h4>Get statistics about your time working</h4>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      <p>This webapp is made with <i class="fas fa-heart"></i> by Cannelle, Nicolas & Marine.</p>
    </div>
  </div>

</div>
