<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <%# favicon_link_tag %>
    <%= favicon_link_tag asset_path('favicon-32x32.png') %>
    <%= favicon_link_tag asset_path('favicon-96x96.png') %>
    <%= favicon_link_tag asset_path('favicon-16x16.png') %>

    <%# og:image %>


    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <% unless current_user.nil? %>
      <link rel="preconnect" href= <%= "https://www.virtual-work-buddy.fun/users/#{current_user.id}" %> >
    <% end %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
